.flash
  width 100%
  border 1px solid #aaaaaa
  padding 20px 10px
  margin-bottom 15px
  border-radius 5px

  &.error
    border-color #c0392b
    background-color #e74c3c
    color #ffffff

  &.success
    border-color #2ecc71
    background-color #27ae60
    color #ffffff

  &.warning
    border-color #f1c40f
    background-color #f39c12
    color #ffffff