form
  .label
    font-weight bolder
    display block
    margin-bottom 5px

  .input
    width 100%
    display block
    border 1px solid #aaa
    border-radius 3px
    padding 6px
    font-size 14px

  .group
    margin-bottom 15px

.btn
  display inline-block
  border 1px solid #aaa
  border-radius 3px
  font-size 14px
  background-color #fefefe
  padding 10px 20px
  cursor pointer
  margin-bottom 5px

  &.block
    width 100%

  &:hover, &:active, &:focus
    background-color #eee
